<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <div id="id0"></div>
      <div id="id1"></div>
    </div>
    <p><img class="img" src="../../assets/img/favicon.ico" alt="23" id="img"></p>
  </body>
  <div data-json="
            {
                a: idddd
            }
        "></div>
  <div escaped="&lt;code&gt;"></div>
  <div unescaped="<code>"></div>
  <input checked>
  <input>
  <input checked="true">
  <p>这是一个<strong>sdsd<i>asdf</i></strong>很长很长而且还很无聊的段落，还没有结束，是的，非常非常地长。
    突然出现了一个 。
  </p>
  <p>如果我不用嵌入功能来书写，一些标签比如<strong>strong</strong>和<em>em</em>可能会产生意外的结果。</p>
  <p>在 <strong>strong</strong> 和 <em>em</em> 旁边</p>
  <!--
  注释
  水电费
  -->
  <div></div>
  <h1>TT</h1>
  <p>Escaping works with #{sdfsdf}</p>
  <p>asdfsdfsa<em>我希望通过外籍教师 Peter 找一位英语笔友。</em></p>
  <p>foo bar baz</p>
  <p>12个朋友</p>
  <p>
    <li id="id0">2一</li>
    <li id="id1">2二</li>
    <li id="id2">2三</li>
    <li id="id3">2四</li>
  </p>
  <div></div>
    <p>这是狗</p>
    <p>这是猫</p>
    <p>这是猪</p>
</html>